
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilos para dispositivos con un ancho de pantalla mayor a 1200px */
@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    .nav-menu {
        display: flex;
    }
    .nav-toggle {
        display: none;
    }
}

/* Estilos para dispositivos con un ancho de pantalla entre 992px y 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 16px;
    }
    .nav-menu {
        display: flex;
    }
    .nav-toggle {
        display: none;
    }
}

/* Estilos para dispositivos con un ancho de pantalla entre 768px y 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 14px;
    }
    .nav-menu {
        display: flex;
    }
    .nav-toggle {
        display: none;
    }
}

/* Estilos para dispositivos con un ancho de pantalla entre 576px y 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
    body {
        font-size: 12px;
    }
    .nav-menu {
        display: none;
    }
    .nav-toggle {
        display: block;
    }
}

/* Estilos para dispositivos con un ancho de pantalla menor a 575px */
@media screen and (max-width: 575px) {
    body {
        font-size: 10px;
    }
    .nav-menu {
        display: none;
    }
    .nav-toggle {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    video {
        width: 720px;
        height: 720px;
    }
}

/* Estilos para dispositivos con un ancho de pantalla entre 992px y 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    video {
        width: 600px;
        height: 600px;
    }
}

/* Estilos para dispositivos con un ancho de pantalla entre 768px y 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    video {
        width: 480px;
        height: 480px;
    }
}

/* Estilos para dispositivos con un ancho de pantalla entre 576px y 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
    video {
        width: 360px;
        height: 360px;
    }
}

/* Estilos para dispositivos con un ancho de pantalla menor a 575px */
@media screen and (max-width: 575px) {
    video {
        width: 100%;
        height: auto;
    }
}